<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CreateUserServlet</servlet-name>
  	<display-name>CreateUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.Auth.CreateUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetAllUsers</servlet-name>
  	<display-name>GetAllUsers</display-name>
  	<description></description>
  	<servlet-class>com.Auth.GetAllUsers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewProfileServlet</servlet-name>
  	<display-name>ViewProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.Auth.ViewProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteProfileServlet</servlet-name>
  	<display-name>DeleteProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.Auth.DeleteProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<display-name>UpdateProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.Auth.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateParticularProfile</servlet-name>
  	<display-name>UpdateParticularProfile</display-name>
  	<description></description>
  	<servlet-class>com.Auth.UpadteParticularProfile</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreateUserServlet</servlet-name>
  	<url-pattern>/CreateNewUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetAllUsers</servlet-name>
  	<url-pattern>/GetAllUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewProfileServlet</servlet-name>
  	<url-pattern>/ViewProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteProfileServlet</servlet-name>
  	<url-pattern>/DeleteProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateParticularProfile</servlet-name>
  	<url-pattern>/UpdateParticularProfile</url-pattern>
  </servlet-mapping>
</web-app>
